/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// vars

$global-padding: 20px;
$white: #fff;
$black: #000;
$blue: #005488;
$orange: #F56635;
$light-gray: #ececec;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;

body {
  margin: 0;
  font-family: "Helvetica-neue","helvetica",arial, sans-serif;
  font-size: 16px;
  color: lighten($black,20);
}

html, body{
  margin:0;
  padding:0;
  height:100%;
}

a {
  text-decoration: none;
}

a, button, input, select {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header {
  background: $white;
  padding: $global-padding/2 0;
  border-bottom: 1px solid $blue;
  h1 {
    margin: 0;
  }
}

.content-wrapper {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 $global-padding;
}

.section-title {
  color: $dark-gray;
  font-weight: normal;
  text-transform: uppercase;
}

.button {
  background: lighten($blue,10);
  border: none;
  border-bottom: 3px solid $blue;
  color: $white;
  font-size: 14px;
  padding: $global-padding/2 $global-padding;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {

  }
}

.cancel-button {
  background: lighten($orange,10);
  border-bottom: 3px solid $orange;
}

.account-header {
  overflow: hidden;
  .section-title {
    float: left;
  }
}

.create-account-button {
  float: right;
  margin-top: 12.5px;
  &:hover {
    background: $blue;
    border-bottom: 3px solid darken($blue,10);
  }
  .icon {
    background: $white;
    color: $orange;
    display: inline-block;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    margin-right: 10px;
  }
}

.content-header {
  background: $blue;
  padding: $global-padding 0;
  .balance {
    width: 66.66%;
    margin-left: 33.33%;
    color: $white;
    font-size: 30px;
  }
}

.sidebar, .right-content {
  float: left;
}

.sidebar {
  width: 33.33%;
  box-sizing: border-box;
  padding-right: $global-padding;
}

.filter {
  border-top: 1px solid $light-gray;
  li {
    border-bottom: 1px solid $light-gray;
    button {
      width: 100%;
      padding: $global-padding/2 $global-padding;
      background: $white;
      border: none;
      font-size: 14px;
      text-align: left;
      cursor: pointer;
      position: relative;
      color: $medium-gray;
      &:hover {
        color: $blue;
      }
      &.active {
        color: $orange;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 5px;
          background: $blue;

        }
      }
    }
  }
}

.right-content {
  width: 66.66%;
}

.account {
  border: 1px solid $light-gray;
  margin-bottom: $global-padding;
  box-shadow: 0 1px 2px $light-gray;
  .header, .content {
    padding: $global-padding;
  }
  .header {
    border-top: 3px solid $orange;
    padding: $global-padding/2 $global-padding 0;
    text-transform: uppercase;
    color: $blue;
    font-weight: bold;
    h3 {
      margin: 0;
      padding-bottom: $global-padding/2;
      border-bottom: 1px solid $light-gray;
    }
    .delete-button {
      float: right;
      border: none;
      background: none;
      color: $blue;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        color: $white;
        background: $blue;
      }
    }
  }
  .content {
    overflow: hidden;
  }
  .amount, .details {
    float: left;
  }
  .amount {
    width: 40%;
    font-size: 30px;
    color: $orange;
    .property {
      font-size: 10px;
      line-height: 10px;
      color: $dark-gray;
      margin-bottom: 5px;
    }
  }
  .details {
    width: 60%;
    font-size: 14px;
    p {
      margin: 5px 0;
    }
  }
  p {
    margin: 0;
  }
}

.ngdialog-content {
  background: none;
}

.create-account {
  padding: $global-padding;
  background: $white;

  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid $light-gray;
    background: $white;
  }

  select {
    background: $blue;
    color: $white;
    height: 40px;
  }
}

@media (max-width: 800px) {
  .content-header {
    .balance {
      width: 100%;
      margin-left: 0;
    }
  } 
  .sidebar, .right-content {
    float: none;
    width: 100%;
  }
  .sidebar {
    padding-right: 0;
    .section-title {
      display: none;
    }
  }
  .filter {
    width: 100%;
    overflow: hidden;
    border: 1px solid $light-gray;
    li {
      float: left;
      width: 33.33%;
      button {
        text-align: center;
        &.active {
          &:before {
            top: inherit;
            height: 5px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .account-header {
    .section-title {
      float: none;
      margin-bottom: 0;
      text-align: center;
    }
    .create-account-button {
      float: none;
      width: 100%;
      margin: 10px 0;
    }
  }
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
 
  
  @-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ngdialog {
  box-sizing: border-box;
}

.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  box-sizing: inherit;
}

.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ngdialog.ngdialog-disabled-animation,
.ngdialog.ngdialog-disabled-animation .ngdialog-overlay,
.ngdialog.ngdialog-disabled-animation .ngdialog-content {
  -webkit-animation: none!important;
  animation: none!important;
}

.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

.ngdialog-no-overlay {
  pointer-events: none;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

.ngdialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
  pointer-events: all;
}

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

.ngdialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}

html.ngdialog-open,
body.ngdialog-open {
  overflow: hidden;
}