<form ng-controller="MainController">
  <div class="page-header">
    <div class="content-wrapper">
      <h1><img src="assets/images/savedo-logo.svg" width="180"/></h1>
    </div>
  </div>
  <div class="content-header">
    <div class="content-wrapper">
      <div class="balance">
        Balance: <span class="value">{{balance | number:2 }} €</span>
      </div>
    </div>
  </div>
  <div class="content-wrapper">

    <div class="sidebar">
      <h2 class="section-title">Filter</h2>
      <ul class="filter">
        <li ng-click="setAccountType('allAccounts')">
          <button ng-class="{'active':showAccounts=='All'}" ng-click="filterAccounts('All')">All</button>
        </li>
        <li>
          <button ng-class="{'active':showAccounts=='Savings'}" ng-click="filterAccounts('Savings')">Savings</button>
        </li>
        <li>
          <button ng-class="{'active':showAccounts=='Checking'}" ng-click="filterAccounts('Checking')">Checkings</button>
        </li>
      </ul>
    </div>
    <div class="right-content">

      

      <div class="account-header">
        <h2 class="section-title">Your accounts
        </h2>
        <button class="create-account-button button" 
              type="button" 
              ng-dialog="app/views/create-account-template.html" 
              ng-dialog-data="" 
              ng-dialog-class="ngdialog-theme-default" 
              ng-dialog-scope="this" 
              plain=false
              showClose=true
              closeByDocument=true
              closeByEscape=true
              ng-dialog-show-close="false"><span class="icon">+</span> New Account</button>
        
      </div>

      <div id="accountsTemplate" templateurl="app/views/accounts.html" include-template=""></div>

    </div>
  </div>


</form>