
<form ng-controller="MainController">
    <div class="page-header">
        <h1>Savedo</h1>
      </div>
   <div class="content-wrapper">
  <div class="sidebar">
    <table>
      <tbody>
        <tr>
          <td>
            <button include-template="" ng-model="All" class="ng-pristine ng-untouched ng-valid ng-empty">All</button>
          </td>
        </tr>

        <tr>
          <td>
            <button include-template="" ng-model="savingsMain" class="ng-pristine ng-valid ng-not-empty ng-touched">Savings</button>
          </td>
        </tr>
        <tr>
          <td>
            <button include-template="" ng-model="checkingsMain" class="ng-pristine ng-untouched ng-valid ng-not-empty">Checkings</button>
          </td>
        </tr>
         <tr>
          <td>
          <button class="create-account-btn-class" type="button"
            ng-dialog="app/views/create-account-template.html"
            ng-dialog-data=""
            ng-dialog-class="ngdialog-theme-default"
            ng-dialog-scope="this"
            plain = false
            showClose = true
            closeByDocument= true
            closeByEscape =  true
            ng-dialog-show-close="false">New Account</button>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="right-content">
     <div id="space-for-buttons"></div>
  </div>
</div>

    
    </form>
